body {
    background-color: #00010D;
}

.container-card {
    width: 23%;
    margin: 14px;
    float: left;
    box-sizing: border-box;
}


.container-card img {
    width: 100%;
    height: auto;
}


.container-card h2 {
    margin-top: 10px;
    size: 30px;
    font-size: 1.2em;
    line-height: 38.79px;
    text-align: center;
    color: #D9D8D7;

}


.container-card .description {
    font-size: 0.9em;
    text-align: center;
    color: #D9D8D77A;
    line-height: 25.86px;
    size: 20px;
}


.sectionC::after {
    content: "";
    display: table;
    clear: both;
}
