@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    color: #D9D8D7;
}

body {
    background-color: #00010D;
}

.section-D {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-1{
    outline: 2px solid #88B0BF;
    width: 40rem;
    height: 0;
}
.line-2{
    outline: 2px solid #88B0BF;
    width: 3rem;
    height: 0;
}

.show-more {
    background-color: #025373;
    border: none;
    border-radius: 2rem;
    padding: .4rem;
    margin: .4rem;
}